table {
    width: 100%;
    border-collapse: collapse;
}

table thead th,
table tfoot tr td {
    background: var(--primary-color);
    font-size: 12px;
    border: 1px solid black;
    padding: 4px 10px;
    font-weight: bold;
    color: #ffffff;
}

table tfoot tr td {
    border: 1px solid black;
}

table tbody tr td {
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
    height: 16px;
    text-align: right;
}

table tbody tr:hover {
    background-color: #eeeeee;
    color: #000000;
}
table tr:nth-child(even) {
  background-color: #F2F5F9;
}