.page-container {
  margin: 24;
  justify-content: start;
  flex-direction: column;
  align-items: start;

  .header-container {
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #13222A;
    margin-bottom: 10px;
  }

  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
  }


  .text-container {
    font-family: Roboto;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    color: #13222A;
  }

  .input-field {
    width: 160px;
    height: 24px;
    border: 1px solid #BDD0E2;
    background-color: #F7F9FC;
    border-radius: 4px;

  }

  .custom-hint::placeholder {
    color: #13222ACC;
    font-size: 10px;
    font-family: Roboto;
    font-style: regular;
    font-weight: 400;
  }

  .submit-button {
    width: 73px;
    height: 24px;
    border-radius: 4px;
    font-family: Roboto Slab;
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: 1px solid black;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #316FA3;
    color: white;
  }


}

.text-header-style {
  font-family: Roboto Slab;
  font-style: bold;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #51A5DC;
}

.footer-text {
  font-family: Roboto Slab;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background: #2b70a6;
  font-size: 12px;
  border: 1px solid black;
  padding: 4px 10px;
  font-weight: bold;
  color: white
}

.black-text {
  color: black;
  font-family: Roboto slab;
  font-weight: 500;
  font-size: 20px;
  font-style: Medium;

}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.loader.hide {
  display: none;
}
